<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<nav th:fragment="listarheader" class="navbar navbar-expand-lg navbar-dark bg-dark">
		 <a class="navbar-brand" th:href="@{/home}">
		    <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="Logo">
		    Pizzeria
		  </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/pizza/listar}">Pizzas</a>
				</li>
				<li class="nav-item active"><a class="nav-link" th:href="@{/pasta/listar}">Pastas</a>
				</li>
				<li class="nav-item active"><a class="nav-link" th:href="@{/bebida/listar}">Bebidas</a>
				</li>
				<li class="nav-item active"><a class="nav-link" th:href="@{/ingrediente/listar}">Ingredientes</a>
				</li>
				<li class="nav-item active"><a class="nav-link" th:href="@{/establecimiento/listar}">Establecimientos</a>
				</li>
				<li class="nav-item active">
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    APIs
					  </button>
					  <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" th:href="@{/api/pizza}">Pizzas</a>
					    <a class="dropdown-item" th:href="@{/api/pasta}">Pastas</a>
					    <a class="dropdown-item" th:href="@{/api/establecimiento}">Establecimientos</a>
					    <a class="dropdown-item" th:href="@{/api/ingrediente}">Ingredientes</a>
					    <a class="dropdown-item" th:href="@{/api/bebida}">Bebidas</a>
					  </div>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav navbar-right mr-5" sec:authorize="isAuthenticated()">
				<li sec:authorize="!isAuthenticated()"><a class="btn btn-outline-primary" th:href="@{/login}">Sign In</a></li>
				<li class="dropdown show">
					<a class="btn btn-outline-primary dropdown-toggle" href="#"
					role="button" id="dropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span></a>
				
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Sign out</button>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
					</div>
				
				</li>
			</ul>
		</div>
	</nav>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>