<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

	<nav th:fragment="paginator">
		<ul class="pagination mr-auto order-0 justify-content-center">
			<li class="page-item"  th:class="${page.first ? 'page-item disbled' : 'page-item'}">
				<span class="page-link bg-success border-success text-white" th:if="${page.first}">Primera</span>
				<a class="page-link bg-success border-success text-white" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
				
			</li>
			<li class="page-item"  th:class="${not page.hasPrevious ? 'page-item disbled' : 'page-item'}">
				<span class="page-link bg-success border-success text-white" th:if="${not page.hasPrevious}">Anterior</span>
				<a class="page-link bg-success border-success text-white" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}">Anterior</a>
			</li>
			
			<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual ? 'page-item active' : 'page-item'}">
				<span class="page-link bg-white border-white text-dark" th:if="${item.actual}" th:text="${item.numero}"></span>
				<a class="page-link bg-white border-white text-dark" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
			</li>
			
			<li class="page-item"  th:class="${not page.hasNext ? 'page-item disbled' : 'page-item'}">
				<span class="page-link bg-danger border-danger text-white" th:if="${not page.hasNext}">Siguiente</span>
				<a class="page-link bg-danger border-danger text-white" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">Siguiente</a>
			</li>
			<li class="page-item"  th:class="${page.last ? 'page-item disbled' : 'page-item'}">
				<span class="page-link bg-danger border-danger text-white" th:if="${page.last}">Ultimo</span>
				<a class="page-link bg-danger border-danger text-white" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">Ultimo</a>
			</li>
		</ul>
	</nav>
	
	<footer th:replace="fragments/footer.html :: listarfooter"></footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>