body{
	background-image: url(/img/background-pizza.jpg);
}
.table-title{
	color: #46bfca;
}
.container{
	border: 5px solid white;
	padding: 3rem;
	margin-top: 3rem;
	background-color: #343a40;
	border-radius: 10px;
}
.login-items{
	margin: auto;
	margin-bottom: 1rem;
}
.page-link {
	cursor: pointer;
	transition: 0.5s;
}