<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

	<nav th:replace="fragments/header.html :: listarheader"></nav>

	<div class="container">
		<div class="card bg-danger text-white">
			<div class="card-header">Error: Accesso Denegado!</div>
			<div class="card-body">
				<h5 class="card-title">Lo sentimos<span th:text="${#httpServletRequest.remoteUser}"></span> NO tienes permisos para acceder a este recurso</h5>
				<a th:href="@{/pizza/listar}" class="btn btn-outline-light" role="button">Ir al inicio </a>
			</div>
		</div>
	</div>
	
	<footer th:replace="fragments/footer.html :: listarfooter"></footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>