<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${titulo}">Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

	<nav th:replace="fragments/header.html :: listarheader"></nav>

	<div class="container">
		<h1
			class="text-white border border-white border-top-0 border-left-0 border-right-0 mb-5"
			th:text="${titulo}"></h1>

		<div th:object="${pizza}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/pizza/form}" th:object="${pizza}" method="post">
			<div class="form-group row">
				<label class="text-white col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="text-white col-sm-2 col-form-label">Descripción</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{descripcion}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="text-white col-sm-2 col-form-label">Ingredientes</label>
				
				
				<div class="col-sm-6">
				<!-- <th:block th:each="ingredientee : ${ingredientes}">
					<div>
						<input type="checkbox" th:field="*{ingredientes}" th:name="${ingredientee.nombre}" th:value="${ingredientee.id}">
					</div>
				</th:block>-->
				
				
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Ingredientes
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	  	  <th:block th:each="ingredientee : ${ingredientes}">
							<div class="dropdown-item" >
								<input type="checkbox" th:field="*{ingredientes}" th:value="${ingredientee.id}">
								<label th:text="${ingredientee.nombre}"></label>
							</div>
						</th:block>
					  </div>
					</div>
				</div>
				
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear Pizza" class="btn btn-primary" />
				</div>
			</div>

		</form>
	</div>
	
	<footer th:replace="fragments/footer.html :: listarfooter"></footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>