<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

	<nav th:replace="fragments/header.html :: listarheader"></nav>

	<div class="container">
		<h1
			class="text-white border border-white border-top-0 border-left-0 border-right-0 mb-5"
			th:text="${titulo}"></h1>
		<p><a th:href="@{/ingrediente/form}" class="btn btn-warning btn-xs text-light">Crear ingrediente</a>
		<a th:href="@{/ingrediente/listar(format=pdf)}" class="btn btn-danger btn-xs text-light float-right ml-2">PDF</a>
		<a th:href="@{/ingrediente/listar(format=xlsx)}" class="btn btn-success btn-xs text-light float-right">XLSX</a></p>
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ingrediente: ${ingredientes}">
					<td th:text="${ingrediente.id}"></td>
					<td th:text="${ingrediente.nombre}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/ingrediente/form/} + ${ingrediente.id}" th:text="'Editar'"></a></td>
					<td><a class="btn btn-danger btn-xs" th:href="@{/ingrediente/eliminar/} + ${ingrediente.id}" th:text="'Eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
				</tr>
			</tbody>

		</table>
		<nav th:replace="fragments/paginator-tab.html :: paginator"></nav>
	</div>
	
	<footer th:replace="fragments/footer.html :: listarfooter"></footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>