<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

	<div class="container bg-dark border-0">
		<div class="card text-center m-auto">
			<div class="card-header">Iniciar sesión</div>
			<div class="card-body">
			
				<form th:action="@{/login}" method="post">
					<div class="login-items form-group col-sm-6">
						<input type="text" name="username" id="username" class="form-control" placeholder="Nombre de usuario" autofocus required/>
					</div>
					
					<div class="login-items form-group col-sm-6">
						<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required/>
					</div>
					
					<div class="login-items form-group col-sm-6">
						<input type="submit" class="btn btn-warning btn-block" value="Sign In" />
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					
				</form>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>